:root {
	--primary-text: 2rem;
	--secondary-text: 1.4rem;
	--bright-blue: #e4fbff;
	--middle-blue: #b8b5ff;
	--strong-blue: #b8b5ff;
	--gray-border: #cecece;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	font-family: "Lato", sans-serif;
}

header {
	width: 100vw;
	height: 7vh;
	position: relative;
	display: flex;
	justify-content: space-between;
	font-size: var(--secondary-text);
	border-bottom: 4px solid var(--strong-blue);
}

a {
	text-decoration: none;
	color: #fff;
}

button,
.menu-content > li,
.item__name {
	cursor: pointer;
}

.header-container__menu {
	width: 90%;
	display: flex;
}

.header-container__menu > button {
	width: 120px;
	height: 40px;
	margin: 0.5rem 2rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--primary-text);
	font-weight: 400;
	background-color: var(--middle-blue);
	border-radius: 8px;
	outline: none;
	border: 1px solid var(--bright-blue);
}

.menu-content {
	list-style: none;
	display: none;
	margin: 0.5rem;
	opacity: 0;
	visibility: hidden;
}

.header-container__menu > .show {
	display: flex;
	opacity: 1;
	visibility: visible;
}

.header-container__menu ul > li {
	width: 120px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 1rem;
	color: #fff;
	font-size: var(--secondary-text);
	background-color: #5d5df7;
	border-radius: 8px;
}

.header-container__logo {
	padding: 1.5rem 3rem 0;
}

main {
	height: 93vh;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.reports-header {
	width: 90%;
	height: 5vh;
	display: flex;
	justify-content: space-between;
	margin: 0 40px;
	margin-top: 30px;
}
.reports-header h1 {
	font-size: var(--primary-text);
}

.reports-header select {
	width: 160px;
	padding-left: 5px;
	font-family: "Lato", sans-serif;
	font-size: var(--secondary-text);
	background-color: white;
	border: 1px solid var(--middle-blue);
	border-radius: 4px;
}

.reports-header select:focus {
	outline: none;
}

.reports-content {
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}

.reports-content__table {
	width: 90%;
	height: auto;
	font-size: var(--secondary-text);
	margin: 0 auto;
	margin-top: 30px;
}

tr > td:not(:nth-child(1)) {
	text-align: center;
}

tr > th {
	font-size: var(--primary-text);
}
tr {
	height: 50px;
	font-size: 1.8rem;
}
.reports-content__summary {
	width: 90%;
	display: flex;
	justify-content: flex-end;
	font-size: 2.4rem;
}

.reports-options {
	width: 80%;
	height: 8vh;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.accept {
	background-color: #5d5df7;
}

.total-btn {
	width: 180px;
	height: 50px;
	color: white;
	font-size: var(--primary-text);
	font-weight: 700;
	border-radius: 8px;
	outline: none;
	border: 1px solid var(--bright-blue);
}

.total-btn:focus {
	border: 2px solid var(--middle-blue);
}
