:root {
	--primary-text: 2rem;
	--secondary-text: 1.4rem;
	--bright-blue: #e4fbff;
	--middle-blue: #b8b5ff;
	--strong-blue: #b8b5ff;
	--gray-border: #cecece;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	font-family: "Lato", sans-serif;
}

header {
	width: 100vw;
	height: 7vh;
	position: relative;
	padding: 1.5rem 3rem 0;
	display: flex;
	justify-content: space-between;
	font-size: var(--secondary-text);

	border-bottom: 4px solid var(--strong-blue);
}

main {
	height: 93vh;
	width: 100%;
	display: flex;
}

.main__left {
	width: 70vw;
	height: 100%;
	border-right: 2px solid var(--gray-border);
}

.main__right {
	width: 30vw;
	height: 100%;
}

.search-bar {
	width: 50%;
	height: 6vh;
	margin-top: 10px;
	margin-left: 20px;
	position: relative;
}

.search-bar__bar-code {
	position: absolute;
	top: calc(50% - 10px);
	left: 10px;
}

.search-bar > input {
	width: 100%;
	height: 35px;
	padding-left: 30px;
	border: 1px solid var(--middle-blue);
	border-radius: 12px;
	outline: none;
	font-size: var(--secondary-text);
}

.search-bar > input:focus {
	border: 2px solid var(--middle-blue);
}

.search-bar__search-icon {
	position: absolute;
	top: calc(50% - 10px);
	right: 15px;
}

.purchase-list {
	width: 100%;
	height: 73vh;
	display: flex;
	flex-direction: column;
	border-top: 2px solid var(--gray-border);
	border-bottom: 2px solid var(--gray-border);
}

.purchase-list__item {
	width: 98%;
	height: 70px;
	display: flex;
	justify-content: space-between;
	margin: 1rem;
	border-radius: 8px;
	background-color: #fff;
}

.item__amount {
	width: 10%;
	margin-top: 2rem;
}

.item__amount > .amount {
	margin: 0 auto;
	font-size: var(--primary-text);
	text-align: center;
}

.item__description {
	width: 70%;
	margin-top: 1rem;
	margin-left: 2rem;
	font-size: var(--primary-text);
}

.item__description .description {
	padding-bottom: 0.3rem;
}

.item__total-price {
	width: 20%;
	margin-top: 2rem;
	text-align: center;
	font-size: var(--primary-text);
}

.total-container {
	width: 100%;
	height: 12vh;
	padding: 25px;
	display: flex;
	justify-content: space-between;
}

.total-btn {
	width: 150px;
	height: 50px;
	color: white;
	font-size: var(--primary-text);
	font-weight: 700;
	border-radius: 8px;
	outline: none;
	border: 1px solid var(--bright-blue);
}

.cancel {
	background-color: #e04242;
}

.accept {
	background-color: #5d5df7;
}

.total-btn:focus {
	border: 2px solid var(--middle-blue);
}

.product-list {
	width: 100%;
	height: 69vh;
	font-size: var(--primary-text);
}

.product-list__header {
	width: 100%;
	height: 6vh;
	display: flex;
	padding: 0.8rem 2rem;
	margin-top: 1.2rem;
	justify-content: space-between;
	border-bottom: 2px solid var(--gray-border);
}

.product-list__header > * {
	width: 50%;
}

.product-list__header > .stock {
	text-align: right;
}

.product-list__container {
	width: 100%;
	height: 63vh;
	padding: 1.5rem 2rem 0;
	overflow-y: scroll;
	border-bottom: 2px solid var(--gray-border);
}

.product-list__container::-webkit-scrollbar {
	width: 8px;
	height: 100%;
	background-color: var(--gray-border);
}

.product-list__container::-webkit-scrollbar-thumb {
	background-color: #a4a4a4;
}

.product-list__item {
	padding-bottom: 2rem;
	display: flex;
	justify-content: space-between;
}

.payment-method__header {
	display: block;
	font-size: var(--primary-text);
	padding: 1rem;
}
